@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white-color: #ffffff;
  --primary-font: 'Roboto', sans-serif;
  --primary_color: #DF6951;
}

html, body {
  overflow-x: hidden! important;
}

.app {
  // background-color: #F8F8F8 ;
  color: var(--primary-color);
  position: relative;
  &.noscroll{
      overflow: hidden;
      height: 100vh;
  }
}

.app__container {
  width: 100%;
  min-height: 100vh;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

.hide{
  display: none;
}

@media screen and (max-width: 767px){
  html,body{
    
    
  } 	
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
